/////////////////////////////////////////////////////////////////////////////////
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc) //
///////////////////////////////////////////////////////////////////////////////
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";


/////////////////////////////////////////////////////
// 2. Include any default variable overrides here //
///////////////////////////////////////////////////

$enable-shadows: true;
$enable-negative-margins: true;

// Cards
$card-border-radius: 7.5px;
$card-border-width: 0px;
// Card colours
$card-color: $white;
$card-bg: var(--main-20);

// Dropdowns
$dropdown-min-width: 12em;
$dropdown-padding-x: 0.4rem;
$dropdown-padding-y: 0.4rem;
$dropdown-border-radius: 5px;
$dropdown-border-width: 0px;
$dropdown-item-padding-y: 0.3em;
$dropdown-item-padding-x: 0.3em;
// Dropdown colours
$dropdown-dark-color: $white;
$dropdown-dark-bg: var(--background-20);
$dropdown-dark-divider-bg: $white;
$dropdown-dark-link-hover-color: $white;
$dropdown-dark-link-hover-bg: var(--background-30);
$dropdown-dark-link-active-color: $white;
$dropdown-dark-link-active-bg: var(--background-30);

// Navbars
$navbar-nav-link-padding-x: 1.2rem;
// Navbar colours
$navbar-dark-color: $white;
$navbar-dark-hover-color: $gray-500;
$navbar-dark-active-color: $gray-500;

// Progress
$progress-bg: var(--progress);
$progress-bar-bg: var(--progress-fill);

// Buttons
$btn-box-shadow: 0;


/////////////////////////////////////////////////////////////
// 3. Include remainder of required Bootstrap stylesheets //
///////////////////////////////////////////////////////////
@import "bootstrap/scss/variables";


////////////////////////////////////////////////
// 4. Include any default map overrides here //
//////////////////////////////////////////////


/////////////////////////////////////////////
// 5. Include remainder of required parts //
///////////////////////////////////////////
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";


//////////////////////////////////////////////////////
// 6. Optionally include any other parts as needed //
////////////////////////////////////////////////////
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";


////////////////////
// Custom styles //
//////////////////

:root {
    --background-0: #FFFFFF;
    --background-10: #FFFFFF;
    --background-20: #373B40;
    --background-30: #2F3136;
    --background-40: #FFFFFF;

    --progress: #535353;
    --progress-fill: #b3b3b3;

    --main-0: #801136;
    --main-10: #A61646;
    --main-20: #B3174B;
    --main-30: #E91E61;
    --main-40: #FF216B;
}


///////////////////////
// Custom Scrollbar //
/////////////////////
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--background-30);
}

::-webkit-scrollbar-thumb {
    background: var(--main-30);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-20);
}

body {
    background-color: var(--background-20);
    color: $white;
}


//////////////
// Filters //
////////////
.invert {
    filter: invert(1);
}


//////////////
// Buttons //
////////////
.btn {
    transition: all 0.3s ease-out;
}

.btn:hover {
    filter: brightness(70%);
}


////////////////
// Dropdowns //
//////////////
.dropdown-menu {
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: block;
    z-index: 99999;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.dropdown-item {
    border-radius: 5px;
}

#guildSelectorDropdown {
    max-height: 500px;
    max-width: 300px;
    overflow-y: auto;
}


/////////////
// Navbar //
///////////
.navbar {
    background: var(--background-30);
}

.nav-link {
    font-family: proxima-nova, sans-serif;
    font-size: 15px;
}
